body{
  background-color: #E31717;
  margin: 18px;
  color: #0AD411;
}

/* h1 element styling */
h1{
  font-family: 'ClaybornRegular';
   font-weight: bold;
   font-style: normal;
   text-transform: capitalize;
   text-align: center;
   text-decoration-color: #FD1818;
   text-decoration: underline;
  color: #0AD411;
}

/* p font  */
p {
   font-family: 'K1FSRegular';
   font-weight: normal;
   font-size: 1.09em;
   font-style: normal;
}

/* li font */
ul{
  font-family: 'OpenDyslexic3Regular';
   font-weight: normal;
   font-style: normal;
}
/* substituting bulleted listing for Christmas tree */

.tree{
  list-style-type: "#";
}
